#wrapper {
    width:70%;
    margin: 40px auto;
    text-align: left;
}
#main_header {
    background-color: darkgreen;
    color: white;
    border: none;
    text-align: center;
    padding: 20px;
    width:100%;
}
#find{
    margin: 7% 30% auto;
}
input{
    width:500px;
    height:50px;
    margin-bottom: 20px;
    font-size: 17px;
    margin-bottom:10%;
}

body {
    font-family: Aerial;
    text-align: center;
}
footer, .push{
     height: 100px;
}