#wrapper {
    width:70%;
    margin: 40px auto;
    text-align: left;
}

body {
    font-family: Aerial;
    text-align: center;
}

.main_section {
    float: left;
    width: 100%;
    height: 80%;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

#main_header {
    background-color: darkgreen;
    color: white;
    border: none;
    text-align: center;
    padding: 20px;
    width:100%;
}

#menu{
    width:100%;
    height:50px;
}

#myTab {
    width: 40%;
    border: none;
    float: left;

}
#search{
    float:left;
    margin-left:20px;
    margin-top:25px;
    width:50%;
}
#searchterm{
    width:200px;
}
#displayOrder {
    margin-top:25px;
    float: right;
}

.content {
    background-color:white;
    color: Black;
    display: none;
    width: 100%;
    height: 1000px;
    overflow: auto;
}

    .content select {
        width: 100px;
        height: 20px;
        margin: 0px 0px 0px 15px;
    }

    .content p {
        padding: 10px 0;
        margin-top:0px;
        margin-bottom:30px;
    }

.column {
    background-color: white;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    overflow: hidden;
    width:20%;
    height:280px;
}

.column:hover {
    border: 1px solid darkgreen;
}

.column img {
    width:100%;
    height :80%;
    object-fit: cover;
    /*clip:rect(0px, 10px, 10px, 0px);*/
}

.column p {
    padding: 0px;
    text-align: center;
}

.tab {
    background-color: #D8D8D8;
    border: none;
    outline: none;
    color: black;
    font-size: 17px;
    padding: 14px 16px;
    cursor: pointer;
    width: 25%;
}
.tab:hover {
    background-color: darkseagreen;
}
.tab.active {
    background-color: darkgreen;
    color: white;
}

footer, .push{
     height: 100px;
}

.displayOrder{
pointer-events: none;
cursor: default;
}